.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    }
    
    .logo-KFC{
      width: 70px;
      padding: 20px;
    }
    
    .Navbar-list ul{
     list-style: none;
     display: flex;
     margin-right:50px ;
     padding-top: 20px;
    }
    
    .Navbar-list li {
      padding: 0 5px;
      color: white;
      cursor: pointer;
    }
    
    .Navbar-list li a:hover{
      color: blueviolet;
    }

    .Navbar-list li a{
      color: white;
      text-decoration:none ;
      
    }
    